#h1{

    color: rgb(255, 255, 255);
    border: double;
    display: flex;
    -ms-flex-align: center;
    border-width: 10px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: black;
    text-align: center;
    flex-direction: column;

}
.boxes{
    display: grid;
   padding: 60px;
    border: solid;
    border-width: 5px;
    box-sizing: content-box;
    color: rgb(255, 254, 253);
}
.shape{

  /*  background-image: url("../images/sigup.jpg");  */
    background-color: black;
}

.btn{

    color: wheat;
    background-color: tomato;
}
.btn:hover{
    background-color: rgb(94, 21, 211);
    animation-duration: 5s;
}